@mixin device($media) {
    @if $media == mobile {
        @media only screen and (max-width: 768px - 1) { @content; }
    }
    @else if $media == tablet {
        @media only screen and (min-width: 768px) and (max-width: 992px - 1) { @content; }
    }
    @else if $media == desktop {
        @media only screen and (min-width: 992px) and (max-width: 1200px - 1) { @content; }
    }
    @else if $media == desktop-up {
        @media only screen and (min-width: 1200px) { @content; }
    }
    @else if $media == hd {
        @media only screen and (min-width: 1280px + 1) { @content; }
    }
    @else if $media == hdd {
        @media only screen and (min-width: 1300px + 1) { @content; }
    }

    @else if $media == hdd-up {
        @media only screen and (min-width: 1400px) { @content; }
    }
}

@mixin avatar($size, $bg-color: #fff, $radius: 50%) {
    width: $size;
    height: $size;
    display: flex;
    flex: 0 0 $size;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: 1px solid #ddd;
    background-color: $bg-color;
    position: relative;
  
    @if $radius != 50% {
        border-radius: $radius;
    }

    @if $bg-color != #fff {
        background-color: $bg-color;
    }

    img{
        width: 100%;
        height: auto;
    }
}

@mixin avatar-text($size, $bg-color: #fff, $radius: 50%, $font-size, $color: #fff) {
    width: $size;
    height: $size;
    display: flex;
    flex: 0 0 $size;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: 1px solid #ddd;
    background-color: $bg-color;
    position: relative;
    font-size: $font-size;
    color: $color;
  
    @if $radius != 0 {
        border-radius: $radius;
    }

    @if $bg-color != #fff {
        background-color: $bg-color;
    }
}